
.container {
    display: grid;
    place-items: center;  
    text-align: center;
    height: auto;
  }
  @media (max-width:650px){
    .peopleIMG{
      display:none;
    }
    .aboutTeam{
      font-size:32px;
    }
    .title_word{
      font-size: 75px;
    }
    .title_word:nth-child(1){
      font-size: 75px;
    }
    .title_word:nth-child(2){
      font-size: 75px;
    }
    .title_word:nth-child(3){
      font-size: 75px;
    }
    .title_word:nth-child(4){
      font-size: 75px;
    }
    .title_word:nth-child(5){
      font-size: 75px;
    }
  }
  .about{
    display: flex;
    justify-content: center;
  }

  .aboutTeam{
    font-size: 18px;
    width: 100%;
  }
  .title {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 12vw;
    text-transform: uppercase;
    justify-content: center;
  }

.title_word {
    animation: color_animation 4s linear infinite;
    font-size: 100%;
  }
  .getitSmall{
    font-size: 10px;
  }
  .title_word_1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title_word_2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title_word_3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title_word_4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color_animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }