.wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
@media(max-width:601px){
    .container{
        display: flex!important;
        flex-direction: column;
    }
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.test{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
}

