
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0rem;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    gap: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.medium{
    padding: 0.5rem 0.5rem;
}

.primary{
    background-color: rgb(73, 169, 248);
    color: white;
} 
.primary:hover{
    filter: brightness(0.9);
}

.transparent{
    background-color: rgba(0,0,0,0);
    color: white;
}

.transparent:hover{
    filter: brightness(0.9);
}

.buttonIcon{
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    stroke: white;
}

.outlined{
    border: 1px solid rgb(214, 213, 213);
    background-color: transparent;
    padding: 4px 12px;
    border-radius: 12px;
}

.contained{
    border-radius: 4px;
}