.wrapper{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.userName{
    color: white;
    margin-left: 7px;
}

.userName:hover{
    color: #da8282;
}

.userIcon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(212, 227, 74);
}

.arrow{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-top: 4px;
    stroke: white;
    fill: white;
    color: white;
}

.dropdownArea{
    position: absolute;
    top: 30px;
}
.dropdown{
    width: 200px;
    margin-top: 10px;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title{
    text-decoration: none;
    color: #009CF0;
}

.text{
    margin-top: 5px;
}

.text:hover{
    color: #da8282;
}

.iconArea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(212, 227, 74);
}

.icon{
    font-size: 20px;
    margin-bottom: 2px;
}   
