.wrapper{
    margin: 100px;
}

.buttonType{
    width: 200px;
    padding: 8px;
}

.dropdown{
    position: absolute;
    z-index: 9999;
}

.type{
    width: 200px;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

.typeItem{
    width: 100%;
    padding: 5px;
    color: black;
}

.typeItem:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.addInformationArea{
    display: flex;
}

.enterInformation{
    display: grid;
    grid-template-columns: 1fr 1fr
}

.input{
    width: 300px;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}

/*.gridContainer {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*    grid-gap: 20px;*/
/*}*/

.field {
    display: flex;
}

.submitButton{
    width: 100px;
    padding: 5px 15px;
    background-color: #d2d1d1;
    border: 0;
    border-radius: 15px;
    margin-top: 20px;
}

.submitButton:hover{
    filter: brightness(1.1);
}

.submitButton:active{
    filter: brightness(0.9);
}