.wrapper{
    position: sticky;
    top: 44px;
    background: #ffffff;
    z-index: 10;
    width: 98.9vw;
    transition: all 1s ease-out;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBlock{
    width:50%;
    display: flex;
    justify-content: center;
    padding: 25px 0 20px 0;
    /* animation: shadow 300ms linear; */
}

.borderVisible{
    box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
    animation: shadow 300ms linear;
}

@keyframes shadow {
    0%{
        box-shadow: none;
    }
    100%{
        box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
    }

}


.input{
    width: 750px;
}

.logo{
    width: 50px;
    height: 50px;
    margin-right: 30px;
    cursor: pointer;
}