.wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.wrapper div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;

    width: 100%;
}
.info div h3{
    display: flex;
    justify-content: center;
}
.infoAreaItem{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 0.1fr;
    margin: 30px 10px;
    gap: 5px;
}
@media(max-width:480px){
    .infoAreaItem{
        display: flex;
        flex-direction: column;
    }
}
.select{

}

.uploader{
    display: flex;
    flex-direction: column;
}

.uploaderPhotoLabel{

}

.uploaderInput{
    display: none;
}

.mainPhoto{
    border: 1px solid var(--grey-text);
    width: 80px;
    height: 80px;
}

.preloaderIcon{
    padding: 10px;
    width: 80px;
    height: 80px;

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    gap: 25px;
}

.galleryContainer{
    position: relative;
}

.closePhoto{
    position: absolute;
    right: -18px;
    width: 20px;
    height: 20px;
}

.closePhoto:focus{
    outline: none;
}

.postscript{
    position: absolute;
    right: 8px;
}

.labelRadio{
    border: none;
    padding: 8px;
}

.ownersInput{
    text-align: center;
    width: 30px;
}

.inputRadio{
    margin: 0;
    padding: 0;
    display: none;
}

.textarea{
    width: 300px;
    height: 200px;
}
