.wrapper{

    margin: 0 200px;
    line-height: 20px;
    font-size: 14px;
    background-color: #fff;
}

.itemNavigation{
    display: flex;
    justify-content: flex-start;
    margin: 10px 20px 4px 0;
    /* width: 964px; */
    width: 100%;
    color: var(--grey-text);
}

.itemContent{
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}

.itemContent_left{
    width: 636px;
}

.titleInfoMain{
    height: 110px;
}

.titleInfo{
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.titleActions{
    display: flex;
    gap: 10px;
}

.viewMainContent{
    height: 300px;
}

.images{
    height: 400px;
    background-color: rgb(0, 0, 0, 0.2);
}

.thumbImage{
    width: 70px;
}

.images img{
    width: auto!important;
}

.gallery svg{
    height: 50px!important;
    width: 50px;
}







