.wrapper{

    margin: 0 200px;
    line-height: 20px;
    font-size: 14px;
    background-color: #fff;
}

.itemNavigation{
    display: flex;
    justify-content: flex-start;
    margin: 10px 20px 4px 0;
    /* width: 964px; */
    width: 100%;
    color: var(--grey-text);
}

.itemContent{
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}

.itemContent_left{
    width: 636px;
}

.titleInfoMain{
    height: 110px;
}

.titleInfo{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.titleActions{
    display: flex;
    gap: 10px;
    margin-top: 24px;
}

.viewMainContent{
    margin-bottom: 15px;
}

.images{
    height: 400px;
    background-color: rgb(0, 0, 0, 0.2);
}

.thumbImage{
    width: 60px;
}

.images img{
    width: auto!important;
}

.gallery svg{
    height: 50px!important;
    width: 50px;
}

.buttonIconLove{
    fill: var(--blue-light);
}

.actionButton:hover{
    background-color: rgba(0, 0, 0, 0.075);
}

.actionButton:active{
    opacity: 0.8;
}

.descriptionBlock{
    
}

.parametrs{
    border-top: 1px solid var(--border-grey);
    padding: 10px 0;
}

.parametrsSpan{
    margin: 10px 0;
    padding: 0;
}

.parametrsList{
    margin: 0;
    padding: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    margin-bottom: -8px;
    line-height: 20px;
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.itemUl{
    margin: 0;
    padding: 0;
    min-width: 260px;
    padding-bottom: 8px;
    font-size: 16px;
    page-break-inside: avoid;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item{
    color: var(--grey-text);
    margin: 0;
    font-weight: normal;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 16px;
}







