.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 16px;
}
@media (max-width: 800px){
    .form{
        width:100%;
    }
    .toggleArea h3{
        font-size: small;
    }
}
.title {
    font-size: 24px;
    margin-bottom: 16px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 100%;
}

.label {
    margin-bottom: 8px;
}

.input {
    /* background-color: rgba(143, 143, 143, 0.2); */
    border-radius: 4px;
    /* border: 1px solid #dbdbdb; */
    font-size: 16px;
    width: 100%;
}

.input:focus{
    outline: none;
}

.submitButton {
    background-color: #0095f6;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 16px;
}

.toggleButton{
    background-color: transparent;
    color: #0095f6;
    border: none;
    cursor: pointer;
}

.toggleButton:hover{
    outline: 1px solid #0095f6;
}

.invalidText{
    color: var(--hover-red);
}