.container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: rgb(0, 170, 255);
    border-radius: 6px;
    border: 2px solid rgb(0, 170, 255);
}

.area{
    display: flex;
    width: 100%;
    height: 36px;
}

.input{
    box-sizing: border-box;
    padding: 0 10px;
    border: 0;
    border-radius: 6px;
    width: 100%;
    font-size: 14px;
}

.input::placeholder{
    color: #8f8f8f;
}

.input:focus {
    outline: none;
}

.button{
    padding: 0 15px;
}

.incorrect{
    background-color: var(--hover-red);
    border: 2px solid var(--hover-red);
}
