.wrapper {
    margin: 10px 200px;
    /* margin-left: 50px;
    margin-top: 10px; */
}

.title {
    padding: 0;
    font-size: 24px;
    font-weight: 500;
}

.textRecomendation {
    padding: 20px 0;
    margin: 0;
}

.productArea {
    display: grid;
    grid-template-columns: 80% 20%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.infoArea {
    margin-right: 10px;
}

.inputBlock{
    display: flex;
}

.input{
    font-size: 16px;
    padding: 5px;
    width: 100px;
    height: 20px;
}