.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.closeButton{
    position: absolute;
    top: -5px;
    right: -45px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    fill: rgb(214, 214, 214);;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.closeButton:hover{
    filter: brightness(1.2);
}

.closeButton:focus{
    outline: none;
}